:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* 全体の文字の色 */
  color: rgba(9, 9, 9, 0.87);
  background-color: #fdfdfd;

  --mini-margin: 8px;
  --standard-margin: 32px;
  --big-margin: 64px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
